<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GST_Billing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <GST_Billing.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="Address" serializeAs="String">
                <value/>
            </setting>
            <setting name="Email" serializeAs="String">
                <value/>
            </setting>
            <setting name="Contact" serializeAs="String">
                <value/>
            </setting>
            <setting name="Gstin" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsDataAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value/>
            </setting>
            <setting name="Code" serializeAs="String">
                <value/>
            </setting>
        </GST_Billing.Properties.Settings>
    </userSettings>
</configuration>
